{% extends 'main.html' %} {% block content %}
<div
  class="hero-wrap" style="background-image: url('images/xbg_2.jpg.pagespeed.ic.x-hmjhxkWE.jpg')" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
<section class="ftco-section contact-section">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 ftco-animate">
        <h4 class="text-center mb-3">{{ page }}</h4>
        {% if page == 'Login' %}
        <form action="{% url 'login' %}" class="mx-auto contact-form border p-4" method="post">
          {% csrf_token %}
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" />
          </div>
          <div class="row form-group justify-content-center mt-5">
            <input
              type="submit"
              value="Login"
              class="btn btn-primary py-3 px-5"
            />
          </div>
          <div class="row justify-content-center"><span><a class="text-decoration-none" href="{% url 'forgotpass' %}">Forgot password?</a></span></div>
          <div class="row justify-content-center"><span>Not registered? <a href="{% url 'register' %}">Signup</a>.</span></div>
        </form>
        {% else %}
        <form action="{% url 'register' %}" class="contact-form border p-4" method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <input
              type="{% if field.name == 'email' %}email{% elif field.name == 'password1' %}password{% elif field.name == 'password2' %}password{% else %}text{% endif %}"
              name="{{ field.name }}"
              class="form-control {% if field.password.errors %}is-invalid{% endif %}"
              placeholder="{{ field.label }}"
              value="{% if field.password %}{{ field.password }}{% endif %}"
            />
          </div>
          {% endfor %}
      <div class="row form-group justify-content-center mt-5">
        <input
          type="submit"
          value="Register"
          class="btn btn-primary py-3 px-5"
        />
      </div>
      <div class="row justify-content-center"><span>Already signup? <a href="{% url 'login' %}">login</a> instead.</span></div>
    </form>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
