{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js%2bpopper.min.js%2bbootstrap.min.js%2bjquery.easing.1.3.js.pagespeed.jc.sIlzizZoTB.js' %}"></script><script>eval(mod_pagespeed_NqH_s$y9uT);</script>
<script>eval(mod_pagespeed_1_80BlXAvo);</script>
<script>eval(mod_pagespeed_wo0_LgRlcS);</script>
<script>eval(mod_pagespeed_WI5MbYvvU_);</script>
<script src="{% static 'js/jquery.waypoints.min.js%2bjquery.stellar.min.js%2bowl.carousel.min.js%2bjquery.magnific-popup.min.js.pagespeed.jc.IoVifxsdkw.js' %}"></script><script>eval(mod_pagespeed_uDd4j6b25z);</script>
<script>eval(mod_pagespeed_TXtIAX0FUS);</script>
<script>eval(mod_pagespeed_qKP8zAM9SD);</script>
<script>eval(mod_pagespeed_UMMwGYEQh7);</script>
<script src="{% static 'js/aos.js%2bjquery.animateNumber.min.js%2bbootstrap-datepicker.js%2bjquery.timepicker.min.js%2bscrollax.min.js%2bgoogle-map.js.pagespeed.jc.TLfb3isNsp.js' %}"></script><script>eval(mod_pagespeed_NXMy02tMvZ);</script>
<script>eval(mod_pagespeed_zMj$n5rKjq);</script>
<script>eval(mod_pagespeed_ehqUPuwZN0);</script>
<script>eval(mod_pagespeed_fLah2VFNtm);</script>
<script>eval(mod_pagespeed_zH1NoSuU$u);</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script>eval(mod_pagespeed_lQs1QIg3Ox);</script>
<script src="{% static 'js/main.js' %}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"750ce3d6ddedb78e","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.8.1","si":100}' crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>